@charset "UTF-8";
@font-face {
  font-family: "e-Ukraine";
  src: url("../../fonts/e-Ukraine/e-Ukraine-Bold.woff2") format("woff2"), url("../../fonts/e-Ukraine/e-Ukraine-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-Medium.woff2") format("woff2"), url("../fonts/e-Ukraine/e-Ukraine-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-Regular.woff2") format("woff2"), url("../fonts/e-Ukraine/e-Ukraine-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-Light.woff2") format("woff2"), url("../fonts/e-Ukraine/e-Ukraine-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-Thin.woff2") format("woff2"), url("../fonts/e-Ukraine/e-Ukraine-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-UltraLight.woff2") format("woff2"), url("../fonts/e-Ukraine/e-Ukraine-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
:root {
  --accent-color1: #12c483;
  --accent-color2: #1a1e23;
  --blue: #243052;
  --gradient: linear-gradient(to bottom left, #30fb85 0%, #2366b5 100%);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html.lock {
  overflow: hidden;
}

body {
  font-family: "e-Ukraine";
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  min-height: 100vh;
}
body.lock {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: inherit;
}

img {
  display: block;
}

.container {
  max-width: 1524px;
  width: 100%;
  padding: 0px 56px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0px 32px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 16px;
  }
}

section {
  padding: 80px 0;
}
@media screen and (max-width: 1024px) {
  section {
    padding: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 48px 0;
  }
}

.btn {
  background-color: var(--accent-color2);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 24px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 8px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 1px solid #111827;
  cursor: pointer;
}
.btn path {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.btn:hover {
  background-color: #fff;
  color: #111827;
}
.btn:hover path {
  stroke: #111827;
}
.btn.white {
  background-color: #fff;
  color: #111827;
  border: 1px solid #fff;
}
.btn.white:hover {
  background-color: transparent;
  color: #fff;
}
.btn.white:hover path {
  stroke: #fff;
}
.btn.clear {
  background-color: transparent;
  color: #111827;
  border: 1px solid #111827;
  font-weight: 600;
}
.btn.clear:hover {
  background-color: 111827;
  color: #fff;
}
.btn.clear:hover path {
  stroke: #fff;
}

.slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .slider-navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.slider-navigation .prev,
.slider-navigation .next {
  width: 50px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid #ccc;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.slider-navigation .prev:hover,
.slider-navigation .next:hover {
  border: 1px solid #000000;
}
.slider {
  position: relative;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  height: 12px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #e1e1e1;
  border: 1px solid #ffffff;
  display: block;
  border-radius: 50%;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: var(--accent-color1);
}

.text_18 {
  font-size: 18px;
  font-weight: 500;
  color: #252525;
  line-height: normal;
}

.text_16 {
  font-size: 16px;
  line-height: 120%;
}

.title_18 {
  font-size: 18px;
  font-weight: 500;
}

.title_20 {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .title_20 {
    font-size: 18px;
  }
}

.section-title {
  font-size: 45px;
  font-weight: 500;
  position: relative;
  padding-left: 10px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .section-title {
    margin-bottom: 32px;
  }
}
.section-title::before {
  content: "";
  width: 5px;
  height: 90%;
  background: var(--accent-color1);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 2px;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 28px;
  }
  .section-title::before {
    width: 4px;
  }
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-bottom: 1px solid var(--Grey-Grey-48, #e5e7eb);
}
.header .search-banner {
  background-color: var(--accent-color2);
  max-height: 0px;
  overflow: hidden;
  padding: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.header .search-banner.open {
  max-height: 100px;
  padding: 0;
  padding: 12px 0;
}
.header .search-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .search-banner .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header .search-banner .container form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header .search-banner .container form input {
  border: 0;
  border-radius: 10px 0 0 10px;
  padding: 0 16px;
  width: 100%;
  max-width: 500px;
}
.header .search-banner .container form input::-webkit-input-placeholder {
  color: #717171;
  font-family: inherit;
  font-size: 14px;
}
.header .search-banner .container form input::-moz-placeholder {
  color: #717171;
  font-family: inherit;
  font-size: 14px;
}
.header .search-banner .container form input:-ms-input-placeholder {
  color: #717171;
  font-family: inherit;
  font-size: 14px;
}
.header .search-banner .container form input::-ms-input-placeholder {
  color: #717171;
  font-family: inherit;
  font-size: 14px;
}
.header .search-banner .container form input::placeholder {
  color: #717171;
  font-family: inherit;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .header .search-banner .container form input {
    width: 75%;
  }
}
.header .search-banner .container form button {
  height: 40px;
  width: 40px;
  padding: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--accent-color1);
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.header .search-banner .container .close {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  cursor: pointer;
  right: 56px;
  border: 1px solid rgba(255, 255, 255, 0.4549019608);
  border-radius: 10px;
}
.header .search-banner .container .close svg {
  fill: #fff;
}
@media screen and (max-width: 1024px) {
  .header .search-banner .container .close {
    right: 16px;
  }
}
.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}
@media screen and (max-width: 1024px) {
  .header .header-container {
    height: 70px;
  }
}
.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  height: 100%;
}
.header .header-logo {
  width: 140px;
}
@media screen and (max-width: 768px) {
  .header .header-logo {
    font-size: 12px;
  }
}
.header .header-nav {
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .header .header-nav {
    position: fixed;
    top: 105px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 105px);
    padding: 40px 24px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: none;
    z-index: 10001;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .header .header-nav {
    height: calc(100vh - 70px);
    top: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .header .header-nav.active {
    display: block;
  }
}
.header .header-nav .mobile-bottom {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .header-nav .mobile-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    gap: 16px;
  }
}
.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .header .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
}
.header .nav-item {
  height: 100%;
  position: relative;
}
.header .nav-item:hover .sub-menu {
  display: block;
}
@media screen and (min-width: 1025px) {
  .header .nav-item:hover .nav-link img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.header .nav-item .sub-menu {
  position: absolute;
  width: 350px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3411764706);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3411764706);
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .nav-item .sub-menu {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
}
.header .nav-item .sub-menu .sub-link {
  padding: 12px 16px;
  display: block;
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid #eaeaea;
}
@media screen and (min-width: 1025px) {
  .header .nav-item .sub-menu .sub-link:hover {
    color: #fff;
    background-color: #000;
  }
}
@media screen and (min-width: 1025px) {
  .header .nav-item.current::after {
    height: 4px;
  }
}
@media screen and (max-width: 1024px) {
  .header .nav-item.current .nav-link {
    font-weight: 600;
  }
}
.header .nav-item path {
  stroke: #fff;
}
@media screen and (max-width: 1024px) {
  .header .nav-item path {
    stroke: #333;
  }
}
.header .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: var(--accent-color1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: 4px 4px 0 0;
}
.header .nav-item:hover::after {
  height: 4px;
}
@media screen and (max-width: 1024px) {
  .header .nav-item {
    padding: 18px 0;
    width: 100%;
    color: #111827;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  .header .nav-item:first-child {
    padding-top: 0;
  }
  .header .nav-item:last-child {
    padding-bottom: 0;
  }
  .header .nav-item:not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
  }
}
.header .nav-item svg.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .nav-link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header .nav-link img {
  width: 20px;
}
@media screen and (max-width: 1024px) {
  .header .nav-link {
    font-size: 18px;
    color: #333;
  }
}
.header .search_btn {
  min-width: 50px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #cccccc;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: 10px;
}
.header .search_btn:hover {
  border: 1px solid #111827;
}
.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header .right .btn {
  margin-left: 8px;
}
@media screen and (max-width: 768px) {
  .header .right .btn {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (max-width: 360px) {
  .header .right .btn {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header .right .language-choose {
    display: none;
  }
}
.header .burger-menu {
  padding: 0 16px;
  border: 1px solid #cccccc;
  height: 45px;
  width: 50px;
  display: none;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .header .burger-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.header .burger-menu span {
  min-width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
  position: relative;
  display: block;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header .burger-menu span::before, .header .burger-menu span::after {
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  background-color: #000;
}
.header .burger-menu span::before {
  left: 0;
  top: -6px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header .burger-menu span::after {
  left: 0;
  bottom: -6px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header .burger-menu.active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .burger-menu.active span::before {
  opacity: 0;
}
.header .burger-menu.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.header .language-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  overflow: hidden;
}
.header .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 45px;
  font-size: 13px;
  color: #000;
  width: 50%;
}
.header .lang.current {
  background-color: var(--accent-color2);
  color: #fff;
}

.hero {
  background: var(--gradient);
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 24px;
  }
}
.hero .img-card {
  width: 50%;
  background: #ccc;
  border-radius: 18px;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero .img-card {
    width: 100%;
    height: 250px;
    border-radius: 12px;
  }
}
.hero .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 90px 0;
}
@media screen and (max-width: 1024px) {
  .hero .right {
    padding: 45px 0;
  }
}
@media screen and (max-width: 768px) {
  .hero .right {
    width: 100%;
    padding: 0;
    gap: 16px;
  }
}
.hero .hero-title {
  font-size: 50px;
  line-height: 110%;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .hero .hero-title {
    font-size: 32px;
  }
}
.hero .text_18 {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .hero .text_18 {
    font-size: 16px;
    font-weight: 400 !important;
  }
}
.hero .btn {
  max-width: 300px;
}
@media screen and (max-width: 768px) {
  .hero .btn {
    max-width: 100%;
  }
}

.goal {
  background-color: #f4f4f4;
}
.goal .goal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px 36px;
}
@media screen and (max-width: 768px) {
  .goal .goal-list {
    gap: 16px;
  }
}
.goal .goal-item {
  width: calc((100% - 36px) / 2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .goal .goal-item {
    width: 100%;
  }
}
.goal .goal-title {
  font-weight: 700;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.goal .goal-title::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--accent-color1);
  border-radius: 2px;
}
.history .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .history .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.history .left {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .history .left {
    width: 100%;
  }
}
.history .img-card {
  width: 50%;
  background-color: rgb(176, 176, 176);
  border-radius: 18px;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .history .img-card {
    width: 100%;
    height: 250px;
    border-radius: 12px;
  }
}

.gallery {
  background-color: #f4f4f4;
}
.gallery .gallery-list {
  margin: 0 -12px;
}
@media screen and (max-width: 1024px) {
  .gallery .gallery-list {
    margin: 0 -4px;
  }
}
.gallery .gallery-item {
  height: 500px;
  margin: 0 12px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .gallery .gallery-item {
    margin: 0 4px;
    height: 350px;
  }
}
.gallery .gallery-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: 18px;
}
.partners .section-title {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .partners .section-title {
    margin-bottom: 32px;
  }
}
.partners .partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .partners .partners-list {
    gap: 16px;
  }
  .partners .partners-list .slick-track {
    padding: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  .partners .partners-list {
    margin: 0 -8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
}
.partners .partners-item {
  width: calc((100% - 48px) / 3);
  padding: 24px;
  background-color: #f2f2f2;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .partners .partners-item {
    width: calc((100% - 16px) / 2);
  }
}
@media screen and (max-width: 768px) {
  .partners .partners-item {
    width: 100%;
    margin: 0 8px;
  }
}
.partners .icon {
  width: 200px;
  margin-bottom: 16px;
}
.partners .icon img {
  max-width: 100%;
}
.partners .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  font-size: 13px;
}

.contactUs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(226, 226, 226, 0.9058823529);
          box-shadow: 0px 3px 3px 1px rgba(226, 226, 226, 0.9058823529);
}
@media screen and (max-width: 768px) {
  .contactUs .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
  }
}
.contactUs .img-card {
  width: 55%;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .contactUs .img-card {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .contactUs .img-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.contactUs .form-wrapper {
  width: 45%;
  padding: 50px;
  background-color: var(--accent-color2);
}
@media screen and (max-width: 1024px) {
  .contactUs .form-wrapper {
    width: 60%;
    padding: 50px 32px;
  }
}
@media screen and (max-width: 768px) {
  .contactUs .form-wrapper {
    width: 100%;
    padding: 38px 18px;
    background-color: rgba(0, 0, 0, 0.6392156863);
  }
}
.contactUs .section-title {
  color: white;
}
.contactUs .contactForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.contactUs .contactForm input {
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 100px;
  padding-left: 36px;
  padding-right: 8px;
  color: #fff;
  font-size: 16px;
}
.contactUs .contactForm input:focus {
  outline: none;
}
.contactUs .contactForm input::-webkit-input-placeholder {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}
.contactUs .contactForm input::-moz-placeholder {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}
.contactUs .contactForm input:-ms-input-placeholder {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}
.contactUs .contactForm input::-ms-input-placeholder {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}
.contactUs .contactForm input::placeholder {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}
.contactUs .contactForm input.just-validate-error-field {
  border: 1px solid red;
}
.contactUs .contactForm input.just-validate-error-field:focus {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.753);
          box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.753);
}
.contactUs .contactForm input.just-validate-success-field {
  border: 1px solid rgb(0, 255, 0);
}
.contactUs .contactForm .just-validate-error-label {
  color: #ff0000 !important;
  font-size: 13px;
  font-weight: 300;
  margin-top: 4px;
  padding-left: 5px;
}
.contactUs .input-wrapper {
  position: relative;
}
.contactUs .input-wrapper svg {
  position: absolute;
  left: 13px;
  top: 16px;
}
.footer {
  background-color: var(--accent-color2);
}
.footer .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .footer .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .body .container {
  width: 50%;
  padding-top: 50px;
}
@media screen and (max-width: 1024px) {
  .footer .body .container {
    width: 100%;
    padding-top: 30px;
  }
}
.footer .body .map {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .footer .body .map {
    width: 100%;
    height: 300px;
  }
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 50px;
}
.footer .col {
  width: calc((100% - 32px) / 2);
}
@media screen and (max-width: 1024px) {
  .footer .col {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (max-width: 768px) {
  .footer .col {
    width: 100%;
  }
}
.footer .logo {
  display: block;
  max-width: 170px;
}
.footer .logo img {
  width: 100%;
}
.footer .title_18 {
  color: #fff;
  margin-bottom: 24px;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .footer .title_18 {
    font-size: 18px;
  }
}
.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 15px;
}
.footer .contact-item:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.footer .footer-nav_link {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.footer .footer-nav_link:hover {
  opacity: 0.7;
}
.footer .soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer .soc-item img {
  width: 30px;
}
.footer .copyright {
  color: #b0b0b0;
  padding: 12px 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  border-top: 1px solid rgba(107, 107, 107, 0.631372549);
}

.news .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.news .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .news .head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .news .head {
    gap: 24px;
    margin-bottom: 40px;
  }
}
.news .head .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  cursor: pointer;
  max-width: 100%;
  overflow: auto;
}
.news .head .filters::-webkit-scrollbar {
  height: 3px;
}
.news .head .filters::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 10px;
}
.news .head .filters::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 2px;
}
@media screen and (max-width: 768px) {
  .news .head .filters {
    gap: 16px;
    padding-bottom: 8px;
  }
}
.news .head .filters .filter-item {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 1px solid #000;
  border-radius: 100px;
  padding: 10px 18px;
}
.news .head .filters .filter-item:hover {
  background-color: #000;
  color: #fff;
}
.news .head .filters .filter-item.open {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .news .head .filters .filter-item {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.news .section-title {
  margin-bottom: 0;
}
.news .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  .news .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news .img-card {
  width: 350px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .news .img-card {
    width: 100%;
  }
}
.news .img-card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .info-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .news .info-part {
    width: 100%;
    gap: 24px;
  }
}
.news .title_18 {
  color: #000000;
}
.news .title_18:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .news .title_18 {
    font-size: 16px;
  }
}
.news .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
  color: #6b6b6b;
}
@media screen and (max-width: 768px) {
  .news .info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
  }
}
.news .more {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 300px;
}

.news-prev {
  background-color: #f4f4f4;
}
.news-prev .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px 32px;
}
.news-prev .news-item {
  width: calc((100% - 32px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .news-prev .news-item {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
}
.news-prev .news-item:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 769px) {
  .news-prev .news-item:nth-child(-n+2) {
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
  }
}
.news-prev .news-item:hover .title_18 {
  text-decoration: underline;
}
.news-prev .img-card {
  border-radius: 12px;
  overflow: hidden;
  width: 35%;
}
@media screen and (max-width: 768px) {
  .news-prev .img-card {
    width: 100%;
    height: 170px;
  }
}
.news-prev .img-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-prev .info {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .news-prev .info {
    width: 100%;
  }
}
.news-prev .title_18 {
  color: #000;
  cursor: pointer;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .news-prev .title_18 {
    font-size: 16px;
  }
}
.news-prev .date {
  color: #5e5e5e;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .news-prev .date {
    font-size: 14px;
  }
}
.news-prev .more {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .news-prev .more {
    margin-top: 40px;
  }
}

.our-team .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px 40px;
}
.our-team .team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  width: calc((100% - 40px) / 2);
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .our-team .team-item {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.our-team .img-card {
  width: 200px;
  height: 190px;
  overflow: hidden;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .our-team .img-card {
    width: 100%;
    height: 280px;
  }
}
.our-team .img-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.our-team .name {
  font-size: 24px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .our-team .name {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.our-team .position {
  color: rgba(130, 130, 130, 0.9333333333);
}
@media screen and (max-width: 768px) {
  .our-team .position {
    font-size: 14px;
  }
}